body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  padding-top: 20px;
  flex: 1 1 auto;
}
.page-footer {
  padding-top: 10px;
  padding-bottom: 10px;
}
.courses-row {
  display: flex;
}
.course {
  margin-top: 1%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  border: solid;
  border-color: black;
  border-radius: 7px;
  width: 25%;
}
.title {
  font-weight: 700;
}

.image-video-preview img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.info {
  font-size: 13px;
}
.rating {
  margin-bottom: 0;
  padding-left: 0;
  font-size: 21px;
  list-style-type: none;
}
.rating li {
  display: inline-block;
  color: #ffc107;
}
nav {
  box-shadow: none;
}
.player {
  width: 700px;
}

.page-link.active {
  color:blue;
}
.lesson-link.active {
  color:black;
}
